@charset "UTF-8";

*{
	margin: 0;
}

header{
	background-color: #4a4;
	padding: 3em;
}

header h1{
	text-align: center;
	
}

table{
	width:60%;
	margin: 50px auto;
	
}
footer{
	background-color: #eee;
	text-align: center;
}

td a{
		text-decoration: none;
		background-color: #4a4;
		color: #fff;
		
	}
	
td a:hover{
		background-color: #400;
	}
	
tr:nth-child(odd){
	background-color: lightgray;
	}
tr:nth-child(even){
	background-color: gray;
	}
	
tr:hover{
	background-color: white;
}